---
version: 2
interactions:
    - id: 0
      request:
        host: openexchangerates.org
        body: ""
        form: {}
        headers: {}
        url: https://openexchangerates.org/api/latest.json?app_id=deadbeef&base=USD&symbols=EUR%2CJPY%2CKRW%2CTHB
        method: GET
      response:
        body: |-
            {
              "disclaimer": "Usage subject to terms: https://openexchangerates.org/terms",
              "license": "https://openexchangerates.org/license",
              "timestamp": 1706007600,
              "base": "USD",
              "rates": {
                "EUR": 0.919984,
                "JPY": 147.83957143,
                "KRW": 1338.4975,
                "THB": 35.731
              }
            }
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"8800ab35bb78b2db6ef7bddb4a4e98b3"'
            Last-Modified:
                - Tue, 23 Jan 2024 11:00:00 GMT
        status: 200 OK
        code: 200
        duration: 3.339420625s
    - id: 1
      request:
        host: openexchangerates.org
        body: ""
        form: {}
        headers:
            If-Modified-Since:
                - Tue, 23 Jan 2024 11:00:00 GMT
            If-None-Match:
                - '"\"8800ab35bb78b2db6ef7bddb4a4e98b3\""'
        url: https://openexchangerates.org/api/latest.json?app_id=deadbeef&base=USD&symbols=EUR%2CJPY%2CKRW%2CTHB
        method: GET
      response:
        body: ""
        headers:
            Etag:
                - '"8800ab35bb78b2db6ef7bddb4a4e98b3"'
            Last-Modified:
                - Tue, 23 Jan 2024 11:00:00 GMT
        status: 304 Not Modified
        code: 304
        duration: 368.624583ms
