package pages

import (
	"github.com/shaxbee/butler/templates/layout"
	"github.com/shaxbee/butler/templates/components"
	"github.com/shaxbee/butler/product"
)

templ HomePage(products []product.Product, err error) {
	@layout.Page("Home") {
		if err != nil {
			@components.Error(err)
		} else {
			@components.ProductList(products)
		}
	}
}
