package pages

import (
	"github.com/shaxbee/butler/templates/layout"
	"github.com/shaxbee/butler/templates/components"
	"github.com/shaxbee/butler/internal/product"
)

templ HomePage(products []product.Product) {
	@layout.Page("Home") {
		@components.ProductMenu(products)
	}
}
