---
version: 2
interactions:
    - id: 0
      request:
        host: openexchangerates.org
        body: ""
        form: {}
        headers: {}
        url: https://openexchangerates.org/api/latest.json?app_id=deadbeef&symbols=EUR%2CJPY%2CKRW%2CTHB
        method: GET
      response:
        body: |-
            {
              "disclaimer": "Usage subject to terms: https://openexchangerates.org/terms",
              "license": "https://openexchangerates.org/license",
              "timestamp": 1705928400,
              "base": "USD",
              "rates": {
                "EUR": 0.918079,
                "JPY": 147.78925,
                "KRW": 1339.257269,
                "THB": 35.6185
              }
            }
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"db4f4a7ea7626838321fa0c10362a9d4"'
            Last-Modified:
                - Mon, 22 Jan 2024 13:00:00 GMT
        status: 200 OK
        code: 200
        duration: 340.910458ms
