package layout

templ Footer() {
    <footer class="fw-full bg-teal-200 text-slate-800 p-3">
        <div class="max-w-6xl mx-auto">
            <div class="text-xs text-slate-700 italic p-2">
                <p>&copy; 2023 ShaXbee</p>
            </div>
        </div>
    </footer> 
}